@font-face {
	font-family:'Myfon';
	src: url('/marry_site/CSS/fonts/kudry_weird-headline.eot');
	src: local('k'), url('/marry_site/CSS/fonts/kudry_weird-headline.woff') format('woff'), url('/marry_site/CSS/fonts/kudry_weird-headline.svg') format('truetype'), url('/marry_site/CSS/fonts/kudry_weird-headline.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Myfon1';
	src: url('/marry_site/CSS/fonts/STKaiti.ttf');
	src: local('k'), url('/marry_site/CSS/fonts/STKaiti.ttf') format('woff'), url('/marry_site/CSS/fonts/STKaiti.ttf') format('truetype'), url('/marry_site/CSS/fonts/STKaiti.ttf') format('svg');
	font-weight: normal;
	font-style: normal;
}

#First_text{font-family: 'Myfon1';
  text-align: justify;
  text-align-last: center;
    line-height: 1.5;
    font-size:18px;
    color:black;
  }

#Second_text{font-family: 'Myfon1';
  text-align: justify;
  text-align-last: center;
    line-height: 1.4;
    font-size:21px;
    color:black;}

#dorogie{color: aliceblue;
    font-size: 50px;}

#data_svadbie { font-size: 55px;}


#data_svadbie1 { font-size: 55px;
  color: aliceblue;}

  #Vsevolod{
    font-size:70px;

}
 
#Vsevolod {
  display: flex; /* Включаем Flexbox для выравнивания */
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  justify-content: space-between; /* Пространство распределяется равномерно */
  height: 100%; /* Занимает всю высоту родительского блока */
}

#Vsevolod div {
  flex: 1; /* Все вложенные div занимают равное пространство */
  display: flex; /* Для центрирования содержимого */
  justify-content: start; /* Выравнивание по горизонтали */
  display: inline-block;
  line-height: 1;
 
  height: auto;
}



.h2{font-weight: bold;}
.user{font-family:'Myfon';
font-size: 40px;}
.user1{font-family: 'Myfon1';
font-size: 21px;
}
.user12{font-family: 'Myfon1';
  font-size: 30px;}

.user122{font-family: 'Myfon1';
  font-size: 18px;
line-height: 8px;
color:#303038}
.dress-code{color: rgb(4, 4, 4);
  font-size: 45px;
font-family: 'Myfon';}

#wwww {width:100%;
  
  object-fit:fill;}
.date_marrin_main{position: absolute;
  
  top:80%;
  right:-20%;
  transform: translate(-50%,-50%);
}
.date_marrin_main span{font-size: 9vw;}
.bg-image1 {position: relative;
  background-image: url('/marry_site/assets/IMG_2533.JPG'); /* Замените на путь к вашему изображению */
  background-size: cover; /* Картинка масштабируется, сохраняя пропорции */
  background-position: center; /* Центрирование изображения */
  background-repeat: no-repeat; /* Картинка не повторяется */
  height: 100vh; /* Высота блока равна высоте окна браузера */
  width: 100%; /* Ширина блока занимает всю страницу */
  overflow: hidden; 
}
.bg-image1 {
  /* Относительное позиционирование родителя */
  height: 100vh; /* Занимает весь экран */
}
.text-start h1 {
  line-height: 0.9; /* Уменьшает расстояние между строками */
  
}
#glavn{
  position: absolute;
left:10%;
top:50%;
transform:translate(-10%,-60%);
}



.play-container {
position: absolute;
left:20%;
top:80%;
background: none;
transform: translate(-50%,-50%);

}


.play-button svg {
  width: 100%; /* SVG растягивается на всю кнопку */
  height: 100%;
 background: none;
}

.play-button{background:none;
border: none;
cursor: pointer;}

.play-text-ring {
 
   /* Позиционируем немного выше кнопки */

  transform: translate(-50%,-50%);
  width: 10px; /* Диаметр кольца */
  height: 10px; /* Диаметр кольца */
  border-radius: 10%; /* Делаем круг */
  position: absolute;
  left:19%;
  top:73%;
 
}

.play-text-ring span {
 
  width: 100%;
  
  transform-origin: center;
  color: white;
}

.second{background-color:#ccbeb4;
  padding-left: 5%;
padding-right: 5%;
width: 100%;
    max-width: none;
    margin: 0 auto;
}
#sss img {height: 100%;
object-fit: cover;}
#sss{background-color: rgb(198, 20, 20);}
#sss1{background-color: rgb(11, 15, 15);}
#pasd{width: 90%;
height: 450px;
border-radius: 50px;
padding: 0;}
#sss2{background-color: darksalmon;
height:100%;}

#pasd img {
  width: 100%; /* Изображение растянется по ширине контейнера */
  height: 100%;
  object-fit:cover;
  border-radius: 50px; /* Автоматически подстроит высоту, сохраняя пропорции */
}

#bottom_nadpis{font-size: 35px;
color:aliceblue}

.photo img{ max-width: 100%; /* Ограничивает ширину изображений до ширины родителя */
  max-height: 100%; /* Не выходит за границы родителя по высоте */
  object-fit: contain; /* Умещает изображение в границах, сохраняя пропорции */
  width: auto;}

.photo {
  max-width: 100%; /* Общая ширина коллажа */
 
   /* Позволяет перенос фотографий на новые строки */
/* Расстояние между фотографиями */
}

.photo-item {
  width: calc(50% - 10px); /* Каждое фото занимает 50% ширины контейнера минус gap */
  height: 150px; /* Задайте нужную высоту */
  object-fit: cover; /* Фотографии сохраняют пропорции */
  border-radius: 8px; /* Закругляем углы */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Добавляем тень */
}
.photo-item1{width: calc(50% - 10px); /* Каждое фото занимает 50% ширины контейнера минус gap */
  height: 200px; /* Задайте нужную высоту */
  object-fit: cover; /* Фотографии сохраняют пропорции */
  border-radius: 8px; /* Закругляем углы */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }

  .photo-item1:nth-child(4) {
    margin-top: -50px; /* Поднимаем фото вверх */
}

#test{background-color:none;
width:100%;
margin:0;
padding:0;
}

#test1{background-color: none;
margin:0;
padding:0;
width:100%}


#container_monblan{ position: relative; /* Устанавливаем контейнер как родительский элемент */
  width:auto; /* Ширина контейнера */
  height:35vh; /* Высота контейнера */
  background-image: url('/marry_site/assets/hends-removebg-preview.png');
  margin-left: -5%;
margin-right: -5%;
 
  background-size:cover; /* Картинка будет растягиваться, чтобы покрыть весь контейнер */
  background-position: center;
 
  
}



#card_monblan{
  position:absolute;
  top: 25%; /* Центрируем по вертикали */
  left: 50%; /* Центрируем по горизонтали */
  transform: translate(-50%, -50%);
  background-color:#e0e0e071;
  border-color: aliceblue;
  border-width: 2px;
  border-radius: 20px;
  width: 300px;
  height: 115px;
 
}
#card_bottom{  background-color: transparent;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  border-color: aliceblue;
  border-width: 2px;
  border-radius: 20px;
  width: 400px;
}


.container.cont_user {background-image: none;
  height: 15vh;}


.custom-container{background-image: none;
  max-height: 100%;
height: auto;}

.card-button {
  display: inline-block;
  background-color: transparent;  /* Делает ссылку блочным элементом, чтобы можно было стилизовать */
  text-decoration: none;/* Убирает подчеркивание ссылки */
  width: 200px; /* Задаем ширину карточки */
  transition: transform 0.3s ease-in-out; /* Плавный эффект при наведении */
  color: inherit;
}

#card_bottom1{background-color: transparent;
border-radius: 400px;
border-width: 2px;
border-color: aliceblue;}

#card_bottom2{background-color: transparent;
  border-radius: 400px;
  border-width: 2px;
  border-color: aliceblue;
width:300px}

.p{line-height: 1;}





.hearts{padding-bottom: 40px;}
#sss32{
margin-left:-5%;
margin-right: -5%;
width:auto}

#card_bottom {
  position: relative;
}

.background-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  color: rgba(0, 0, 0, 0.1);
  z-index: 0;
  font-family: 'Myfon';
}

#card_bottom p {
  position: relative;
  z-index: 1;
}

#sss21{flex-direction: column;}
